
/*SectionThree*/
.sectionthree {
    display: flex;
    gap: 100px;
    padding: 100px 0px 0px 100px;
    background-color: none;
  }
  
  .second-image {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 100px;
  }
  .first-image {
    width: 400px;
    height: 500px;
    border: 3px solid black;
  }
  
  .circle {
    max-width: 250px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
  }
  .fourth {
    position: relative;
    left: 50px;
    max-width: 500px;
    height: 290px;
    border: 3px solid black;
  }
  
  /* Media Queries */
  @media (max-width: 480px) {
    .TRR {
      font-size: 12px; /* Smaller font size for mobile */
    }
    
    .nav-bar {
      height: 80px; /* Smaller height for mobile */
    }
    .nav-logo img{
      width: 20px;
      height: 20px;
    }
    .nav-logo {
      width: 40px;
    }
    
    .socials i {
      font-size: 20px; /* Smaller icons */
    }
  
    .hero-statement {
      font-size: 20px; /* Smaller font for hero text on mobile */
    }
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .TRR {
      font-size: 18px; /* Medium size for tablet */
    }
    .nav-logo img{
      width: 40px;
      height: 40px;
    }
    .nav-logo {
      width: 90px;
    }
    
    .nav-bar {
      height: 90px; /* Adjust height for tablet */
    }
  
    .socials i {
      font-size: 25px; /* Medium icons */
    }
  
    .hero-statement {
      font-size: 30px; /* Adjust font size for tablet */
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .TRR {
      font-size: 24px; /* Larger text on small laptops */
    }
    
    .nav-bar {
      height: 100px; /* Return to full height */
    }
  
    .socials i {
      font-size: 28px; 
    }
  
    .hero-statement {
      font-size: 50px; 
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1440px) {
    .TRR {
      font-size: 36px; /* Larger text on large laptops */
    }
  
    .hero-statement {
      font-size: 75px; 
    }
  }
  
  @media (min-width: 1441px) {
    .TRR {
      font-size: 48px; /* Larger text on desktops */
      height: 0px;
    }
    .nav-logo img{
      width: 120px;
      height: 120px;
    }
    .nav-logo {
      height: 60px;
      width: 130px;
    }
  
    .hero-statement {
      font-size: 100px; /* Default or larger font for desktops */
    }
    .socials,
    .socials i{
      height: 0;
      font-size: 60px;
    }
  }